HF_API_KEY=
HF_MODEL=
MT5_COMMON_FILES_DIR=
MT5_QUEUE_FILE=xauusd_push_queue.txt
MT5_TERMINAL_PATH=
MT5_LOGIN=
MT5_PASSWORD=
MT5_SERVER=
MT5_DEVIATION=20
MT5_MAGIC=2401001
XAUUSD_SYMBOL=XAUUSD
XAUUSD_MODE=paper
XAUUSD_POSITION_STATE_PATH=runtime/position_state.json
